/*Mobile First*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

ul{
    padding-left: 0px;
}


/*header*/

header{
    padding: 0;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.headerNav{
    padding-top: 30px;
    display: flex;
    flex-grow: 1;
}

.headerNavLink{
    width: 100%;
    text-align: center;    
    font-size: 16px;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 15px;
    color: black;

}
.headerNavLink:hover{
    border-bottom: 3px solid #0065FC ;
    color: #0065FC;
}

.headerSignup{
    width: 50%; 
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #0065FC;
    padding-top: 20px;
    padding-right: 20px;
}

img{
    padding-left: 20px;

}

/*Introduction*/

.introduction{
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: justify;
}

.textIntroduction{
    padding-right: 40px;
    padding-bottom: 15px;
    padding-top: 10px;
}

.font-bold{
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
}

.textIntroduction p{
    font-size: 16px;
    padding-top: 0em;
    margin-top: 0em;
}

/*SearchBar*/

.fa-map-marker-alt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    background-color:#F2F2F2;
    padding: 15px 20px 15px 20px;
    
    border-radius: 10px 0 0 10px;
}

#searchBar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 2px solid #F2F2F2;
    border-radius: 15px;
    margin-bottom: 35px;
    margin-top: 6px;
}

#searchField {
    flex: 1;
    padding-left: 15px;
    border: none;
    text-align: left;
    }

input::placeholder{
    font-weight: bold;
    font-size: 15px;
    color:black;
    opacity: 1 ;
}

.button {
    color: white;
    background-color: #0065FC;
    border: none;
    padding: 15px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 12px;
}

/*Filter*/

.FilterWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    }

.FilterTitle {
    font-weight: bold;
    margin-right: 200px;
}

.FilterFilter{
    display: inline-flex;
    border: 2px solid #F2F2F2;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 25px;
}

.FilterWrapper .fas{
    color: #0065FC;
    background-color:#DEEBFF;
    padding: 12px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa, .fas {
    margin: -2px;
}

.FilterText{
    padding: 10px;
    padding-right: 18px;
    color: black;
    font-weight: bold;
}

.FilterFooter{
    display: flex;
    flex-grow: 1;
    margin-right: 20px;
}


.FilterFooter .fas{
    color:  #0065FC;
    font-size: 11px;
    border: 2px solid #F2F2F2;
    padding: 2.5px;
    padding-left: 4px;
    padding-right: 4px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    text-align: center;
    margin: -2px;
}

.fa{
    margin: -2px;
}

.FilterFooterText{
    margin-top: 1px;
    padding-left: 10px;
    font-size: 15px;
}

/*Selection*/

.Selection{
    background-color: #F2F2F2;
}

    /*Popular Hosting*/

.HostingPopularText{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px;
}

.TheMostPopularsText{
    margin: 20px 0;
    font-size: 21px;
}

.HostingPopularIcon{
    margin: 20px 0;
    object-fit: cover;
}

.PopularCard{
    margin: 10px 0 10px 0;
}

.Popular{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0 20px;
    border: 5px solid white;
    border-radius: 20px;
}

.ImagePopular{
    object-fit: cover;
    width: 38%;
    height: 130px;
    padding: 0;
    border-radius: 15px 0 0 15px;
}

.PopularText{
    font-size: 14px;
    padding: 0 20px;
    padding-right: 40px;
    color: black;

}

.PopularTextTitle{
    margin: 15px 0 5px 0;
    color: black;
}

.PopularTextPrice{
    font-size: 14px;
    text-align: justify;
    margin-top: 5px;
    
}

.FullStars{
    font-size: 12px;
    margin-top: 35px;
    color: #0065FC;
}

.fa-star{
    margin: 0;
}

.grey{
    color: #F2F2F2;
}

div.PopularCard:nth-child(4) > a:nth-child(1) > figure:nth-child(1) > img:nth-child(1) {
    width: 166px;
    }

    /*City Hosting*/

.HostingCity{
    padding: 0 20px;
    background-color: white;
}

.CityText{
    margin: 14px 0 20px ;
    font-size: 21px;
}

    /*City Card*/

.CityCard{
    box-shadow: 0 0 15px lightgray;
    border-radius: 15px;
    margin-bottom: 5px;
}

.City{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin: 0;
    border: 5px solid white;
    border-radius: 20px;
}

.ImageCity{
    object-fit: cover;
    height: 110px;
    padding: 0;
    border-radius: 15px 15px 0 0;
}

.CityTextTitle{
    color: black;
    margin: 5px 0;
    font-size: 16px;
}

.CityTextPrice{
    color: black;
    margin: 5px 0;
    font-size: 14px;
}

.FullStarsCity{
    margin: 5px 0;
    font-size: 10px;
}

.FullStarsCity .blue{
    color: #0065FC;
}

.SeeMoreText{
    font-weight: bold;
    margin-bottom: 0px;
}

/* Activities */

.HostingActivities{
    padding: 0 20px;
    background-color: white;
}

.ActivitiesHeadText{
    margin: 14px 0 20px ;
    font-size: 21px;
}

/* Activities Card */

.Single, .CardActivitiesTwin{
    box-shadow: 0 0 15px lightgray;
    border-radius: 15px;
    margin-bottom: 5px;
}

.ActivitiesSelectionCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin: 0;
    border: 5px solid white;
    border-radius: 20px;
}

.PictureActivities{
    object-fit: cover;
    height: 135px;
    padding: 0;
    border-radius: 12px 12px 0 0
}

.ActivitiesTextTitle{
    color: black;
    margin: 15px 0 15px 15px;
    font-size: 16px;
}
/*Footer*/

footer{
    padding: 20px;
    background-color: #F2F2F2;
}


.FooterSubTittle{
    padding: 5px 0;
}

.footerLink, h2{
    font-size: 18px;
    margin: 30px 0 15px 0;
}

li{
    font-size: 15px;
}