/*Mobile First*/

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
}
a{
    text-decoration: none;
}

/*header*/

header{
    padding: 0;
    padding-top: 30px;
}

.selection{
    display: flex;
    flex-wrap: wrap-reverse; 
}

.headerNav{
    padding-top: 30px;
    display: flex;
    flex-grow: 1;
}

.headerNavLink{
    width: 100%;
    text-align: center;    
    font-size: 16px;
    border-bottom: 3px solid #F2F2F2;
    padding-bottom: 15px;

}
.headerNavLink:hover{
    border-bottom: 3px solid #0065FC ;
    color: #0065FC;
}

.headerSignup{
    width: 100%; 
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #0065FC;
    padding-top: 15px;
    padding-right: 20px;
}

img{
    position: fixed;
    padding-left: 20px;

}

/*Introduction*/

.introduction{
    padding-top: 5px;
    padding-right: 45px;
    padding-left: 20px;
    text-align: justify;
}

.font-bold{
    font-size: 21px;
    font-weight: bold;
}

p{
    font-size: 16px;
    padding-top: 0em;
    margin-top: 0em;
}

/*SearchBar*/

.fa-map-marker-alt{
    background-color:#F2F2F2;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}

#searchBar{
    display: inline-block;
}